body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282222;

}


.header{
    background-color:#0c146836;
    color: #ffffff;
    text-align: center;
    height: 100px;
    justify-content: center;
    display: flex;
}
.filehandler{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
    
}

input[type="file"] {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 3px 0;
    background-color: #3d35ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0c3147;
    transform: scale(1.1);
}

pre {
    text-align: left;
    background-color: rgb(32, 72, 83);
    padding: 10px;
    border: 1px solid #4d5283;
    border-radius: 5px;
    max-width: 800px;
    margin:10px auto;
    overflow-x: auto;
    color: #ffffff;
    
}
.header2{
    background-color: rgb(32, 72, 83);
    color: #fff;
    text-align: center;
    height: auto;
    justify-content: center;
    display: flex;
    
}
.loading{
    background-color: #282222;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 100px;
    justify-content: center;
    display: flex;
   

}
.pdf_name{
    background-color: #252732;
    color: #ffffff;
    text-align: center;
    height: auto;
    justify-content: center;
    display: flex;
    margin: 10px;
    border-radius: 5px;
   

}
.copy{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    margin: auto ;
}
.main{
    background-color: #252732;
    border: solid #5e65727b;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
   width: 900px;
   padding: 10px;
   

}
.a2{
    color: #fff;
}
.a1{
    color: #ffffff;
}